*
{
    margin: 0;
    padding: 0;
    font-family: 'Exo2';
}

.container-chat {
    width: 100%;
    min-height: 100vh;
    /* height: auto; */
    background-image: url("../imgs/background.jpg");
    backdrop-filter: blur(50px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
}

.container-chat::after {
    content: "";
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.891);
    position: absolute; 
    inset: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.container-chat .container-nav-bar
{

    z-index: 2;
    min-height: 100%;
    width: 80px;
   
}

.container-chat .container-nav-bar::after
{
    content: "";
    min-height: 100%;
    position: fixed;
    inset: 0;
    min-height: 100%;
    background-color: black;
    width: 80px;
}

.container-chat .container-main
{
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 2;
   
}

.container-chat .container-main .container-top
{
    width: 100%;
    height: 120px;
    display: flex;
    /* background-color: rgb(245, 245, 245); */
}

.container-title
{
    
    box-sizing: border-box;
    padding-left: 65px;
    width: 25%;
    /* background-color: red; */
    display: flex;
    align-items: end;
}

.container-chat .container-title img
{
    width: 180px;
}

.container-search
{

    width: 45%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.container-search .search
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.container-search .search input
{
    width: 100%;
    height: 50px;
    outline: none;
    border: 1px solid rgba(221, 221, 221, 0.664);
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 50px;
    background-color: rgba(233, 233, 233, 0.11);
    font-size: 1.1em;
    color: rgba(218, 218, 218, 0.877);
    padding-right: 50px;
}


.container-search .search .fa-magnifying-glass
{
    position: absolute;
    left: 18px;
    font-size: 20px;
    color: var(--main-color);
   
}

.container-search .search #delete:hover
{
    transition: 0.2s all;
    font-size: 17px;
}

.container-search .search .fa-delete-left
{
    position: absolute;
    right: 20px;
    color: var(--main-color);
    cursor: pointer;
    font-size: 20px;
}


.container-top .container-profile
{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items:end;

}

.container-top .container-profile .profile
{
    width: 45%;
    height: 54px;
    background-color: rgba(233, 233, 233, 0.11);
    border-radius: 10px;
    border: 2px solid rgba(221, 221, 221, 0.521);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
}

.container-top .container-profile .profile img
{
    width: 40px;
    border-radius: 50%;
}
.container-top .container-profile .profile .container-notification
{
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 5px;
    height: 100%;
    width: 70%;
 
}

.container-top .container-profile .profile .container-notification p:first-of-type
{
    color: white;
    font-weight: bold;
}

.container-top .container-profile .profile .container-notification p:last-child
{
    color: rgba(255, 255, 255, 0.658);
    font-size: 0.8em;
}
.container-top .container-profile .profile .icon-down
{
    width: 10%;
}

.container-top .container-profile .profile .icon-down .container-icon:hover
{
    transition: 0.5s all;
    background-color: black;
}

.container-top .container-profile .profile .icon-down i
{
    color: rgba(255, 255, 255, 0.737);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-top .container-profile .profile .icon-down .container-icon
{
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.449);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}



.container-main-chat
{
    width: 100%;
    /* background-color: red; */
    min-height: auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 50px;
    margin-bottom: 100px;
    /* align-items: center; */
}

.container-main-chat  .container-child-chat
{
    width: 95%;
    height: 85vh;
    background-color: #99185d32;
    border-radius: 20px;
    border: 2px solid rgba(192, 192, 192, 0.33);
    backdrop-filter: blur(10px);
    display: flex;
}


.container-friends
{
    width: 25%;
    height: 100%;
    position: relative;
    /* background-color: red; */
}

.container-friends::after {
    content: "";
    position: absolute;
    top: 20%;         
    height: 80%;      
    right: 0;        
    border-left: 2px solid rgba(192, 192, 192, 0.33); 
    border-radius: 10px;
}

.container-profile-chat
{
    width: 100%;
    height: 100px;
    /* border-bottom: 2px solid black; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 30px;
}

.container-profile-chat .container-img-chat
{
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
}

.container-profile-chat .container-img-chat img
{
    width: 50px;
    border-radius: 50%;
}

.container-profile-chat .container-img-chat .fa-circle
{
    position: absolute;
    font-size: 10px;
    color: green;
    right: 0;
}

.container-profile-chat .container-name-chat 
{
    margin-left: 20px;
    color: white;
}

.container-profile-chat .container-name-chat p:first-child
{
    font-weight: bold;
}

.container-profile-chat .container-name-chat p:last-child
{
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.625);
}

.container-serach-bar-chat
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: end;

}
.container-serach-bar-chat .container-sear
{
    position: relative;
    width: 90%;
}
.container-serach-bar-chat .container-sear input
{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.445);
    background-color: rgba(233, 233, 233, 0.11);
    box-sizing: border-box;
    padding-left: 45px;
    color: white;
    padding-right: 40px;
}

.container-serach-bar-chat .container-sear .fa-magnifying-glass
{
    font-size: 20px;
    position: absolute;
    left: 14px;
    top: 15px;
    color: var(--main-color);
}

.container-serach-bar-chat .container-sear .fa-delete-left
{
    font-size: 20px;
    position: absolute;
    right: 14px;
    top: 15px;
    color: var(--main-color);
    transition: 0.5s all;
    cursor: pointer;
}

.container-serach-bar-chat .container-sear .fa-delete-left:hover
{
    font-size: 17px;
}

.container-friends-chat
{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-top: 40px;
}

.container-friends-chat .container-friend
{
    width: 100%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.container-friend .focus
{
    width: 12px;
    height: 60px;

    position: absolute;
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--main-color);
}

.container-friends-chat .container-friend .friend
{
    /* background-color: rebeccapurple; */
    width: 90%;
    height: 100px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    border: 1px solid rgb(146, 146, 146);
}

.container-friend .container-img-chat
{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 90px;
    /* background-color: yellow; */
}

.container-friend .container-img-chat .icon-active
{
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: green;
    right: 5px;
    top: 18px;
}

.container-friend .container-img-chat img
{
    width: 70px;
    border-radius: 50%;
    
}

.container-friend .name
{
    width: 90%;
    /* background-color: red; */
    overflow: hidden;
    color: white;
    box-sizing: border-box;
    display: flex;
    
}

.container-friend .name .container-name-message
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 10px;
}
.container-friend .name p:first-child
{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}
.container-friend .name p:last-child
{
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.789);
    width: 80%;
}

.container-chat-display
{
    width: 50%;
    height: 100%    ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-chat-display .chat-display
{
    width: 95%;
    height: 95%;
    border: 2px solid rgba(207, 207, 207, 0.381);
    /* backdrop-filter: blur(1px); */
    background-color: #99185d1f;
    /* background-color: red; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-top: 13px;
    flex-direction: column;
    /* back */
}

.container-chat-display .container-chat-user 
{
    width: 97%;
    height: 80px;
    /* background-color: red; */
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid rgba(207, 207, 207, 0.381);
    display: flex;
}

.container-chat-display .container-chat-user .container-chat-user-img
{
    width: 80px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-chat-display .container-chat-user .container-chat-user-img img
{
    width: 60px;
    border-radius: 50%;
}

.container-chat-display .container-chat-user .container-chat-uer-name
{
    width: auto;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-chat-display .container-chat-user .container-chat-uer-name p:first-child
{
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.container-chat-display .container-chat-user .container-chat-uer-name p:last-child
{
    color: white;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.789);
}

.container-chat-display .chat-display .container-chat-messages
{
    /* background-color: yellow; */
    width: 97%;
    height: 100%;
    /* border-radius: 20px; */
    padding-top: 0px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.container-chat-messages::-webkit-scrollbar {
    width: 0px;
}


.container-chat-display .chat-display .container-date
{
    height: 60px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.container-chat-display .chat-display .container-date p
{
    position: relative;
    color: rgb(239, 239, 239);
}

.container-chat-display .chat-display .container-date p::after
{
    content: "";
    position: absolute;
    border: 1px solid rgba(212, 212, 212, 0.761);
    top: 10px;
    left: 120px;
    width: 100px;
}


.container-chat-display .chat-display .container-date p::before
{
    content: "";
    position: absolute;
    border: 1px solid rgba(212, 212, 212, 0.761);
    top: 10px;
    left: -120px;
    width: 100px;
}


.container-chat-display .container-message-user
{
    width: 100%;
    min-height: 50px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;


}

.container-chat-display .container-message-user .time
{
    color: rgba(255, 255, 255, 0.803);
    font-size: 0.8em;
    margin-left: 10px;
}

.container-chat-display .container-message-user .child-container-message-user
{
    width: 45%;
    background-color: rebeccapurple;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

}

.container-chat-display .container-message-user .child-container-message-user p
{
    color: rgba(255, 255, 255, 0.787);
    font-size: 0.9em;
}


.container-chat-display .container-message-clinet
{
    width: 100%;
    min-height: 50px;
    /* background-color: olive; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-bottom: 7px;
}


.container-chat-display .container-message-clinet .child-container-message-client
{
    width: 45%;
    background-color: rebeccapurple;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.container-chat-display .container-message-clinet .child-container-message-client p
{
    color: rgba(255, 255, 255, 0.803);
    font-size: 0.9em;
}

.container-chat-display  .container-message-clinet .time
{
    color: rgba(255, 255, 255, 0.803);
    font-size: 0.8em;
    margin-right: 7px;
}