*
{
    margin: 0;
    padding: 0;
    font-family: 'Exo2';
}

.container-chat {
    width: 100%;
    min-height: 100vh; /* Full viewport height to prevent scroll issues */
    background-image: url("../imgs/background.jpg");
    backdrop-filter: blur(50px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative; /* Set relative positioning */
}

.container-chat::after {
    content: "";
    width: 100%;
    height: 100%; /* Match the container height */
    background-color: rgba(0, 0, 0, 0.891);
    position: absolute; /* Change to absolute positioning */
    inset: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.container-chat .container-nav-bar
{

    z-index: 2;
    min-height: 100%;
    width: 80px;
   
}

.container-chat .container-nav-bar::after
{
    content: "";
    min-height: 100%;
    position: fixed;
    inset: 0;
    min-height: 100%;
    background-color: black;
    width: 80px;
}

.container-chat .container-main
{
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 2;
   
}

.container-chat .container-main .container-top
{
    width: 100%;
    height: 120px;
    display: flex;
}

.container-title
{
    
    box-sizing: border-box;
    padding-left: 100px;
    width: 25%;
}

.container-chat .container-title img
{
    width: 120px;
}

.container-search
{

    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-search .search
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.container-search .search input
{
    width: 100%;
    height: 50px;
    outline: none;
    border: 1px solid rgba(221, 221, 221, 0.664);
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 50px;
    background-color: rgba(233, 233, 233, 0.11);
    font-size: 1.1em;
    color: rgba(218, 218, 218, 0.877);
    padding-right: 50px;
}


.container-search .search .fa-magnifying-glass
{
    position: absolute;
    left: 18px;
    font-size: 20px;
    color: var(--main-color);
   
}

.container-search .search #delete:hover
{
    transition: 0.2s all;
    font-size: 17px;
}

.container-search .search .fa-delete-left
{
    position: absolute;
    right: 20px;
    color: var(--main-color);
    cursor: pointer;
    font-size: 20px;
}


.container-top .container-profile
{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-top .container-profile .profile
{
    width: 45%;
    height: 54px;
    background-color: rgba(233, 233, 233, 0.11);
    border-radius: 10px;
    border: 2px solid rgba(221, 221, 221, 0.521);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
}

.container-top .container-profile .profile img
{
    width: 40px;
    border-radius: 50%;
}
.container-top .container-profile .profile .container-notification
{
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 5px;
    height: 100%;
    width: 70%;
 
}

.container-top .container-profile .profile .container-notification p:first-of-type
{
    color: white;
    font-weight: bold;
}

.container-top .container-profile .profile .container-notification p:last-child
{
    color: rgba(255, 255, 255, 0.658);
    font-size: 0.8em;
}
.container-top .container-profile .profile .icon-down
{
    width: 10%;
}

.container-top .container-profile .profile .icon-down .container-icon:hover
{
    transition: 0.5s all;
    background-color: black;
}

.container-top .container-profile .profile .icon-down i
{
    color: rgba(255, 255, 255, 0.737);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-top .container-profile .profile .icon-down .container-icon
{
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.449);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}



.container-main-chat
{
    width: 100%;
    /* min-height: 90%; */
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 50px;
    /* align-items: center; */
}

.container-main-chat  .container-child-chat
{
    width: 95%;
    height: 85vh;
    background-color: #99185d32;
    border-radius: 20px;
    border: 2px solid rgba(192, 192, 192, 0.33);
    backdrop-filter: blur(10px);
    display: flex;
}


.container-friends
{
    width: 25%;
    height: 100%;
    position: relative;
    /* background-color: red; */
}

.container-friends::after {
    content: "";
    position: absolute;
    top: 20%;         
    height: 60%;      
    right: 0;        
    border-left: 2px solid rgba(192, 192, 192, 0.33); 
    border-radius: 10px;
}

.container-profile-chat
{
    width: 100%;
    height: 100px;
    /* border-bottom: 2px solid black; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 30px;
}

.container-profile-chat .container-img-chat
{
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
}

.container-profile-chat .container-img-chat img
{
    width: 50px;
    border-radius: 50%;
}

.container-profile-chat .container-img-chat .fa-circle
{
    position: absolute;
    font-size: 10px;
    color: green;
    right: 0;
}

.container-profile-chat .container-name-chat 
{
    margin-left: 20px;
    color: white;
}

.container-profile-chat .container-name-chat p:first-child
{
    font-weight: bold;
}

.container-profile-chat .container-name-chat p:last-child
{
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.625);
}

.container-serach-bar-chat
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: end;

}
.container-serach-bar-chat .container-search
{
    position: relative;
    width: 80%;
}
.container-serach-bar-chat .container-search input
{
    width: 100%;
    height: 44px;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.445);
    background-color: rgba(233, 233, 233, 0.11);
    box-sizing: border-box;
    padding-left: 45px;
    color: white;
    padding-right: 40px;
}

.container-serach-bar-chat .container-search .fa-magnifying-glass
{
    font-size: 20px;
    position: absolute;
    left: 14px;
    color: var(--main-color);
}

.container-serach-bar-chat .container-search .fa-delete-left
{
    font-size: 20px;
    position: absolute;
    right: 14px;
    color: var(--main-color);
    transition: 0.5s all;
    cursor: pointer;
}

.container-serach-bar-chat .container-search .fa-delete-left:hover
{
    font-size: 17px;
}