:root {
    --main-color: #99185D;
    --second-color: #66103E;
    --intra: #161a19;
    /* --intra: #272c2b; */
    --font-size: 16px;
    --sucess : #2fc25f;
  }
@font-face {
  font-family:'Exo2';
  src: url('../Exo_2/Exo2-Italic-VariableFont_wght.ttf');
  font-weight: 100 900; /* Range of weights */
  font-style: normal;
}