*
{
    margin: 0;
    padding: 0;
    font-family: 'Exo2';
}

.container-chat {
    width: 100%;
    min-height: 100vh;
    max-width: 2600px;
    /* height: auto; */
    background-image: url("../imgs/background.jpg");
    backdrop-filter: blur(50px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
}

.container-chat::after {
    content: "";
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.891);
    position: absolute; 
    inset: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.block-container-nav-bar
{
    width: 80px;
    z-index: 2;
    min-height: 100%;
}

.container-nav-bar
{
    z-index: 9;
    height: 100vh;
    width: 80px;
    position: fixed;
    left: 0;
    top: 0;
    background-color:black;
}


.container-nav-bar .container-icon-menu
{
    height: 30%;
    width: 80px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 20px;
}
.container-nav-bar .container-icon-menu i
{
    font-size: 45px;
    color: white;
}

.container-nav-bar .container-menu
{
    height: 40%;
    width: 80px;
    display: flex;
    flex-direction: column;
}

.container-nav-bar .container-menu *{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23%;
}

.container-nav-bar .container-menu
{
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.container-nav-bar .container-menu i:hover
{
    font-size: 27px;
    transition: 0.5s all;
    /* color: var(--main-color); */
}

.container-nav-bar .container-menu .container-fa-house
{
    position: relative;
}
.container-nav-bar .container-menu .container-fa-house::after
{
    content: "";
    position: absolute;
    left: 0;
    width: 12px;
    height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--main-color);
}
.container-nav-bar .container-settings
{
    height: 30%;
    width: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.container-nav-bar .container-settings i
{
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;
}


.container-chat .container-main
{
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 2;
   
}

.container-chat .container-main .container-top
{
    width: 100%;
    height: 120px;
    display: flex;
}

.container-title
{
    
    box-sizing: border-box;
    padding-left: 65px;
    width: 25%;
    /* background-color: red; */
    display: flex;
    align-items: end;
}

.container-chat .container-title img
{
    width: 180px;
}

.container-search
{

    width: 45%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.container-search .search
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.container-search .search input
{
    width: 100%;
    height: 50px;
    outline: none;
    border: 1px solid rgba(221, 221, 221, 0.664);
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 50px;
    background-color: rgba(233, 233, 233, 0.11);
    font-size: 1.1em;
    color: rgba(218, 218, 218, 0.877);
    padding-right: 50px;
}


.container-search .search .fa-magnifying-glass
{
    position: absolute;
    left: 18px;
    font-size: 20px;
    color: var(--main-color);
   
}

.container-search .search #delete:hover
{
    transition: 0.2s all;
    font-size: 17px;
}

.container-search .search .fa-delete-left
{
    position: absolute;
    right: 20px;
    color: var(--main-color);
    cursor: pointer;
    font-size: 20px;
}


.container-top .container-profile
{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items:end;
}

@media(max-width: 1987px)
{
    .container-top .container-profile   
    {
        width: 38%;
        
    }
}

.container-top .container-profile .profile
{
    width: 45%;
    height: 54px;
    background-color: rgba(233, 233, 233, 0.11);
    border-radius: 10px;
    border: 2px solid rgba(221, 221, 221, 0.521);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
}

.container-top .container-profile .profile img
{
    width: 40px;
    border-radius: 50%;
}
.container-top .container-profile .profile .container-notification
{
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 5px;
    height: 100%;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.container-top .container-profile .profile .container-notification p:first-of-type
{
    color: white;
    font-weight: bold;
}

.container-top .container-profile .profile .container-notification p:last-child
{
    color: rgba(255, 255, 255, 0.658);
    font-size: 0.8em;
}
.container-top .container-profile .profile .icon-down
{
    width: 100px;
    /* background-color: yellow; */
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    padding-right: 10px;
}

.container-top .container-profile .profile .icon-down .container-icon:hover
{
    transition: 0.5s all;
    background-color: black;
}

.container-top .container-profile .profile .icon-down i
{
    color: rgba(255, 255, 255, 0.737);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-top .container-profile .profile .icon-down .container-icon
{
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.449);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.container-main-home
{
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-main-home .child-container-main-home
{
    background-color: #99185d23;
    width: 95%;
    height: 90%;
    border-radius: 20px;
    border: 2px solid rgb(118, 118, 118);
    display: flex;
    box-sizing: border-box;
    padding-right: 25px;
}

.container-main-home .child-container-main-home .main-home-left
{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 25px;
}

.container-main-home .child-container-main-home .main-home-left .main-home-left-top
{
    width: 70%;
    height: 15%;
    border-radius: 20px;
    border: 2px solid rgb(118, 118, 118);
    margin-bottom: 25px;
    display: flex;
}

.container-main-home .child-container-main-home .main-home-left .main-home-left-top .title
{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 30px;
    color: white;
}

.container-main-home .child-container-main-home .main-home-left .main-home-left-top .play
{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-right: 20px;
}

.container-main-home .child-container-main-home .main-home-left .main-home-left-top .play .button
{
    width: 160px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--main-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s all;
}
.container-main-home .child-container-main-home .main-home-left .main-home-left-top .play .button:hover
{
    background-color: var(--second-color);
    width: 150px;
    height: 45px;
}
.container-main-home .child-container-main-home .main-home-left .main-home-left-top .play i
{
    position: absolute;
    right: 22px;
    top: 15px;
    color: white;
    font-size: 20px;
}
.container-main-home .child-container-main-home .main-home-left .main-home-left-top .play p
{
    color: white;
    font-size: 19px;
    font-weight: bold;
}

.container-main-home .child-container-main-home .main-home-left .main-home-left-midle
{
    width: 80%;
    height: 35%;
    /* background-color: aqua; */
    margin-bottom: 25px;
}
.container-main-home .child-container-main-home .main-home-left .main-home-left-midle .title 
{
    color: white;
    font-size: 25px;
    font-weight: bold;
    /* color: var(); */
}

.container-main-home .child-container-main-home .main-home-left .main-home-left-midle .menu-games
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-main-home .child-container-main-home .main-home-left .main-home-left-midle .menu-games .first-game
{
    width:25%;
    height: 65%;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s all;
    background-image: url("../imgs/background.jpg");
    object-fit:contain;
    display: flex;
    align-items: end;
    /* border: 1px solid white; */
}

.container-main-home .child-container-main-home .main-home-left .main-home-left-midle .menu-games .title
{
    /* background-color: red; */
    width: 100%;
    font-size: 1.3em;
    box-sizing: border-box;
    padding-left: 20px;
}
.container-main-home .child-container-main-home .main-home-left .main-home-left-midle .menu-games .title h1
{
    font-size: 1.5em;
}
.container-main-home .child-container-main-home .main-home-left .main-home-left-midle .menu-games .title p
{
    font-size: 0.7em;
    margin-bottom: 40px;
}

.container-main-home .child-container-main-home .main-home-left .main-home-left-midle .menu-games .title .button
{
    width: 120px;
    height: 40px;
    border-radius: 15px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    margin-bottom: 20px;
    
}


.container-main-home .child-container-main-home .main-home-left .main-home-left-midle .menu-games .second-game
{
    width:30%;
    height: 80%;
    background-image: url("../imgs/background.jpg");
    object-fit:contain;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s all;
    display: flex;
    align-items: end;
    border: 1px solid white;
}

.container-main-home .child-container-main-home .main-home-left .main-home-left-midle .menu-games .third-game
{
    width:25%;
    height: 65%;
    background-image: url("../imgs/background.jpg");
    object-fit:contain;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s all;
    display: flex;
    align-items: end;
    /* border: 1px solid white; */
}

.container-main-home .child-container-main-home .main-home-left .main-home-left-end
{
    width: 80%;
    height: 41%;
    border-radius: 15px;
    /* border: 1px solid rgb(180, 180, 180); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-main-home .child-container-main-home .main-home-left .main-home-left-end .title
{
    width: 100%;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.container-main-home .child-container-main-home .main-home-left .main-home-left-end .container-table
{
    box-sizing: border-box;
    width: 95%;
    height: 85%;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 20px;
    display: flex;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 20px;
    overflow: hidden;
}
.container-main-home .child-container-main-home .main-home-left .main-home-left-end .container-table .container-table-left
{
    width: 50%;
    height: 100%;
}

.container-main-home .child-container-main-home .main-home-left .main-home-left-end .container-table .container-table-left .ul
{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-bottom: 20px;
    padding-left: 30px;
}
.container-main-home .child-container-main-home .main-home-left .main-home-left-end .container-table .container-table-left .ul .li
{
    width: 24%;
    color: white;
}

.container-main-home .child-container-main-home .main-home-left .main-home-left-end .container-table .container-table-content
{
    overflow-y: scroll;
    height: 80%;
}
::-webkit-scrollbar {

    width: 0px;
    /* color: white; */
}
.container-main-home .child-container-main-home .main-home-left .main-home-left-end .container-table .container-table-content .ul
{
    background-color: var(--main-color);
    background: linear-gradient(to right,black, var(--second-color), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 45px;
    padding-left: 10px;
    /* padding-right: 10px; */
    color: white;
    width: 90%;
    border-radius: 15px;
    
    /* width: %; */
}
.container-main-home .child-container-main-home .main-home-left .main-home-left-end .container-table .container-table-content .ul .li
{
    width: 24%;
    text-align: center;
}

.container-main-home .child-container-main-home .main-home-left .main-home-left-end .container-table .container-table-right
{
    width: 50%;
    height: 100%;
    background-color: blue;
}

.container-main-home .child-container-main-home .main-home-right
{
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.container-main-home .child-container-main-home .main-home-right .container-home-profile
{
    width: 100%;
    height: 400px;
    /* background-color: red; */
    border-radius: 20px;
    border: 2px solid rgba(137, 137, 137, 0.795);
    box-sizing: border-box;
    padding-top: 20px;
    margin-bottom: 35px;
}

.container-main-home .child-container-main-home .main-home-right .container-home-profile .title
{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.container-main-home .child-container-main-home .main-home-right .container-home-profile .child-container-home-profile
{
    width: 100%;
    height: 92%;
    border-radius: 20px;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
    align-items: end;
    /* background-color: aliceblue; */
}

.container-main-home .child-container-main-home .main-home-right .container-home-profile .child-container-home-profile .home-profile
{
    width: 100%;
    height: 50%;
    display: flex;
}

.container-main-home .child-container-main-home .main-home-right .container-home-profile .child-container-home-profile .home-profile .home-profile-left
{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
}

.container-main-home .child-container-main-home .main-home-right .container-home-profile .child-container-home-profile .home-profile .home-profile-left::after
{
    content: "";
    position: absolute;
    height: 60%;
    border: 1px solid rgb(172, 172, 172);
    right: 0;
    top: 20%;
}

.container-main-home .child-container-main-home .main-home-right .container-home-profile .child-container-home-profile .home-profile .home-profile-left .profile
{
    width: 40%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-main-home .child-container-main-home .main-home-right .container-home-profile .child-container-home-profile .home-profile .home-profile-left .profile img
{
    width: 80px;
    border-radius: 50%;
}

.container-main-home .child-container-main-home .main-home-right .container-home-profile .child-container-home-profile .home-profile .home-profile-left .name
{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.container-main-home .child-container-main-home .main-home-right .container-home-profile .child-container-home-profile .home-profile .home-profile-left .name i
{
    font-size: 12px;
    color: var(--main-color);
}

.container-main-home .child-container-main-home .main-home-right .container-home-profile .child-container-home-profile .home-profile .home-profile-right
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.container-main-home .child-container-main-home .main-home-right .container-home-profile .child-container-home-profile .home-profile .home-profile-right  img
{
        width: 80px;
}

.container-main-home .child-container-main-home .main-home-right .container-home-profile .child-container-home-profile .under-home-profile
{
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
}
.container-main-home .child-container-main-home .main-home-right .container-home-profile .child-container-home-profile .under-home-profile::before
{
    content: "";
    position: absolute;
    width: 80%;
    top: 0;
    left: 10%;
    border: 1px solid rgba(178, 178, 178, 0.761);
}

.container-main-home .child-container-main-home .main-home-right .container-home-profile .child-container-home-profile .under-home-profile .part
{
    width: 33.33%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-main-home .child-container-main-home .main-home-right .activity
{
    width: 100%;
    height: 67%;
}

.container-main-home .child-container-main-home .main-home-right .activity .activity-title
{
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}



.container-main-home .child-container-main-home .main-home-right .activity .container-activity
{
    width: 100%;
    height: 69%;
    border: 2px solid rgba(178, 178, 178, 0.761);
    border-radius: 20px;
}
